<html>
  <head>
    <title>Entity linking for Wikipedia</title>
  </head>
  <body>
    <h1>Entity linking for Wikipedia</h1>

    <h2>「{{text}}」の関連語</h2>
    <p>
      <ul>
	<li>入力語： {{text}}</li>
	<li>該当件数： {{nrecords}} 件（関連ページ {{nents}} 件, 関連語 {{nwords}}件）</li>
      </ul>
    </p>
    <p>
      <table class="table table-striped" border="1" cellspacing="0" cellpadding="5">
	<thead>
          <tr>
	    {# get column name #}
	    <th>語</th>
	    <th>語の頻度</th>
	    <th>語のタイプ</th>
	    <th>「{{text}}」との類似スコア</th>
	  </tr>
	</thead>
	<tbody>
	  {% for e in ents %}
	  <tr>
	    <td>{{ e.link }} </td>
	    <td> {{ e.count }} </td>
	    <td> {{ e.type }} </td>
	    <td> {{ e.score }} </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </p>
    
    <h2>Wikipedia ページビュー</h2>
    <p>類似スコア上位10語の Wikipedia のページビューを「<a href='https://pageviews.toolforge.org/'>ページビュー分析</a>」（外部サイト）で調べる。</p>
    <p><a href="{{url}}">{{url}}</a></p>
  </body>
</html>
